<script>
  $(function() {
    $('.square').click({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { piece: { x: data-x, y: data-y } }
        });
      }
    });
   });
</script>

<div class="booyah-box col-10 offset-1">
  <h2><%= @piece.game.name %></h2>
</div>
<head>
    <meta charset="UTF-8">
</head>
<body>
  <div class="chessboard">

<!-- 1st -->
    <% for row in (1..8) %> <!-- loops through the rows in the gameboard -->
      <% for col in (1..8) %> <!-- loops through the columns -->
        <div class= 
        <% if row % 2 != 0 %>
          <%= col % 2 != 0 ? "square black" : "square white" %>
        <% else %>
          <%= col % 2 == 0 ? "square black" : "square white" %>
        <% end %>
         data-x=<%= "#{col}" %>
         data-y=<%= "#{9 - row}" %>
        >
          <% piece = @pieces.active.where( { x: 1 , y: 2 } ).first %>
          <% if piece.id == @piece.id %>
            <b><%= link_to "#{piece.color} #{piece.type}", piece_path(piece) %></b>
          <% elsif piece != nil %>
            <%= link_to "#{piece.color} #{piece.type}", piece_path(piece) %>
          <% end %>
        <!-- end of div loop for determining square color -->
      <!-- &#9820; -->
        </div>
      <% end %>
    <% end %>

    <!-- end of experiment -->
  </div>
</body>
