<div class="index-page">
  <h1>Welcome to RevelDevs Chess!</h1>
  <br />
  <h3><%= link_to "Create a Game", new_game_path, class: 'btn btn-primary' %></h3>
  <br/>

  <% if current_user %>
    <% @available_games.each do |game| %>
      <%= link_to "Join Game", join_game_path(game), method: 'PATCH', class: 'btn btn-success float-left index-button' %>
      <h4><%= game.name %></h4>
      <br class='clear'/>
    <% end %>
    <% @in_progress_games.each do |game| %>
      <%= link_to "Observe Game", game_path(game), class: 'btn btn-warning float-left index-button' %>
      <h4><%= game.name %></h4>
      <br class='clear'/>
    <% end %>
  <% end %>
</div>