<div class="booyah-box col-10 offset-1">
  <h2><%= @game.name %></h2>
</div>
<head>
    <meta charset="UTF-8">
</head>

<body>
  <div class="chessboard" id=<%= "#{@game.id}" %>>
    <% for row in (1..8) %>
      <% for col in (1..8) %>
        <div class="square
          <% if row % 2 != 0 %>
            <%= col % 2 != 0 ? 'black' : 'white' %>
          <% else %>
            <%= col % 2 == 0 ? 'black' : 'white' %>
          <% end %>"
          data-x=<%= "#{col}" %>
          data-y=<%= "#{9 - row}" %> 
          <% piece = @game.pieces.active.find_by( { x: col , y: 9 - row } ) %>
          data-piece-id=
          <% if piece %>
            "<%= piece.id %>"
          <% else %>
            "<%= '' %>"
          <% end %>
          id=<%= "#{col}-#{9 - row}" %>
          >
          <% if piece %>
            &<%= "#{piece.icon}" %>;
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</body>

<script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
<script>
 // Initialize Firebase
 var config = {
   apiKey: "AIzaSyDacQxiuyLkxP5WfVxcb4fUoKHlGB94jOk",
   authDomain: "chess-application.firebaseapp.com",
   databaseURL: "https://chess-application.firebaseio.com",
   projectId: "chess-application",
   storageBucket: "chess-application.appspot.com",
   messagingSenderId: "660815863001"
 };
 firebase.initializeApp(config);
</script>

<script>
  $(function() {
    var $square = $('.square');
    var gameID = $('.chessboard').attr('id');
    var dbRef = firebase.database().ref();
    var gameRef = dbRef.child(gameID);

    $('.square').each(function(){
      var squareID = $(this).attr('id');
      var squareText = $(this).text();
      gameRef.child(squareID).set(squareText);
    });

    $square.click( function() {
      var $xPosition = $(this).data('x');
      var $yPosition = $(this).data('y');
      var $targetSquare = $(this);
      var $targetPiece = $targetSquare.data('piece-id');
      var $selectedSquare = $('.selected');
      var $isPieceSelected = $square.hasClass('selected');
      var $selectedPiece = $selectedSquare.data('piece-id');
      // If a piece is already selected, the click attempts to move the piece
      // (Unless the selected square is clicked)
      if ($isPieceSelected && !($selectedSquare.data('x') === $xPosition && $selectedSquare.data('y') === $yPosition)) {
        updatePiece();
      }

      // If no square is selected and a piece is present, the clicked square will become selected
      if (!$isPieceSelected && $(this).attr('data-piece-id') != "") {
        // Before turn order has been implemented, after a piece is moved it's not able to be
        // selected again. Other pieces (of the correct color) can be selected though.
        // The piece ID isn't getting passed to the URL on the failing GET request.
        $.get('/pieces/' + $targetPiece, function() {
          $targetSquare.addClass('selected');
        });
      }
      // If a square is already selected, the click will remove the selection
      else {
        $selectedSquare.removeClass('selected');
      }

      function updateFirebase(){
        var $targetSquareID = $targetSquare.attr('id');
        var $selectedSquareID = $selectedSquare.attr('id');
        var gameRefTargetSquare = gameRef.child($targetSquareID);
        var gameRefSelectedSquare = gameRef.child($selectedSquareID);

        gameRefTargetSquare.set($targetSquare.text());
        gameRefTargetSquare.on('value', function(snapshot){
          $('#' + $targetSquareID).text(snapshot.val());
        });

        gameRefSelectedSquare.set($selectedSquare.text());
        gameRefSelectedSquare.on('value', function(snapshot){
          $('#' + $selectedSquareID).text(snapshot.val());
        });
      }

      function updatePiece() {
        $.ajax({
          type: 'PATCH',
          url: '/pieces/' + $selectedPiece,
          data: { piece: { x: $xPosition, y: $yPosition } },
          success: function(){
            // If the move is allowed, the target square will populate with the piece
            // and empty out the original square
            $targetSquare.attr('data-piece-id', $selectedPiece);
            $targetSquare.text($selectedSquare.text());
            $selectedSquare.empty();
            $selectedSquare.removeAttr('data-piece-id');
            updateFirebase();
          }
        });
      }
    });
  });
</script>
