<div class="booyah-box col-10 offset-1">
  <h2><%= @game.name %></h2>
</div>
<head>
    <meta charset="UTF-8">
</head>

<body>
  <div class="chessboard">

    <% for row in (1..8) %> <!-- loops through the rows in the gameboard -->
      <% for col in (1..8) %> <!-- loops through the columns -->
        <div class="square"
           data-x=<%= "#{col}" %>
           data-y=<%= "#{9 - row}" %>
           <% piece = @game.pieces.active.find_by( { x: col , y: 9 - row } ) %>
           data-piece-id=
           <% if piece != nil %>
             "<%= piece.id %>"
           <% end %>
           >
          <div class=
          <% if row % 2 != 0 %>
            <%= col % 2 != 0 ? "black" : "white" %>
          <% else %>
            <%= col % 2 == 0 ? "black" : "white" %>
          <% end %>
          >
            <% if piece != nil %>
              <%= link_to "#{piece.color} #{piece.type}", piece_path(piece) %>
            <% end %>
          <!-- end of div loop for determining square color -->
        <!-- &#9820; -->
          </div>
        </div>
      <% end %>
    <% end %>

    <!-- end of experiment -->
  </div>
</body>

<script>
  $(function() {
    var square = $('.square');



    square.click( function() {
      var xPosition = $(this).data('x');
      var yPosition = $(this).data('y');
      var clickedSquare = $(this).data('piece-id');
      var selectedPiece = $('.selected').data('piece-id');

      if (selectedPiece != '') {
        $.ajax({
          type: 'PATCH',
          url: '/pieces/' + selectedPiece,
          // dataType: 'json',
          data: { piece: { x: xPosition, y: yPosition } },
          success: function(){
            console.log('success');
          }
        });
        
      }

      selectedPiece.toggleClass('selected');

    });
  });
</script>