<div class="booyah-box col-10 offset-1">
  <h2><%= @game.name %></h2>
</div>
<head>
    <meta charset="UTF-8">
</head>

<body>
  <div class="chessboard">
    <% for row in (1..8) %> <!-- loops through the rows in the gameboard -->
      <% for col in (1..8) %> <!-- loops through the columns -->
        <div class="square 
          <% if row % 2 != 0 %>
            <%= col % 2 != 0 ? 'black' : 'white' %>
          <% else %>
            <%= col % 2 == 0 ? 'black' : 'white' %>
          <% end %>" 
          data-x=<%= "#{col}" %> 
          data-y=<%= "#{9 - row}" %> 
          <% piece = @game.pieces.active.find_by( { x: col , y: 9 - row } ) %>
          data-piece-id=
          <% if piece %>
            "<%= piece.id %>"
          <% end %>
          >
          <% if piece %>
            <%= "#{piece.color} #{piece.type}" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</body>

<script>
  $(function() {
    var $square = $('.square');

    $square.click( function() {
      var $xPosition = $(this).data('x');
      var $yPosition = $(this).data('y');
      var $targetSquare = $(this);
      var $selectedSquare = $('.selected');
      var $isPieceSelected = $square.hasClass('selected');
      var $selectedPiece = $selectedSquare.data('piece-id');

      // If a piece is already selected, the click attempts to move the piece
      // (Unless the selected square is clicked)
      if ($isPieceSelected && !($selectedSquare.data('x') === $xPosition && $selectedSquare.data('y') === $yPosition)) {
        updatePiece();
      }

      // If no square is selected and a piece is present, the clicked square will become selected
      if (!$isPieceSelected && $(this).attr('data-piece-id')) {
        //need to check if piece color and player color match here
        $(this).addClass('selected');
      }
      // If a square is already selected, the click will remove the selection
      else {
        $selectedSquare.removeClass('selected');
      }

      function updatePiece() {
        $.ajax({
          type: 'PATCH',
          url: '/pieces/' + $selectedPiece,
          data: { piece: { x: $xPosition, y: $yPosition } },
          success: function(){
            // If the move is allowed, the target square will populate with the piece
            // and empty out the original square
            $targetSquare.attr('data-piece-id', $selectedPiece);
            $targetSquare.text($selectedSquare.text());
            $selectedSquare.empty();
            $selectedSquare.removeAttr('data-piece-id');
          }
        });
      }
    });
  });
</script>